



/* Estilos generales */
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://portalelyonyireh.edu.co/styles/assets/images/background/Fondo-Login-Yinn.jpg");
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.hidden {

    display: none;
}



.card {

    max-width: 700px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 
    
}




.form-label {


color: rgb(0, 0, 0);
font-weight: bold;


}



/* Estilo para el input y el botón */
.input-group {
    margin-bottom: 20px;
}





   



.usuarios2 {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    margin: 20px 0;
    text-align: left; 
    font-weight: bold;
   
}




.usuarios2 input {


    padding: 12px;
    border: 1px solid #000000;
    font-size: 16px;
    border-radius: 5px;
    transition: border-color 0.3s; 
    
}


 
input[type="number"]:hover { 
    
    
    box-shadow: 0px 0 12px #0d6efd;


}




.usuarios2 input::placeholder {

    color: transparent;
}




.usuarios2 label {


    position: absolute;
    top: 10px; 
    left: 12px; 
    color: #666;
    font-size: 16px;
    transition: 0.3s;
    pointer-events: none;
    background-color: #fff;
    padding: 0 4px; /
}





/* Movimiento del label al enfocar o escribir en el input */


.usuarios2 input:focus + label,
.usuarios2 input:not(:placeholder-shown) + label {


    top: -12px; /* Ajusta la altura para que el label esté justo encima del borde */
    left: 12px; /* Asegúrate de que esté alineado con el input */
    font-size: 14px; /* Reduce el tamaño del label al subir */
    color: #333;
}




/* Cargando */
#loading-container {

    font-size: 16px;
    color: #007bff;
}



/* Mensaje de error */
.error-message {

    color: #d9534f;
    font-size: 14px;
    margin-top: 10px;
    opacity: 0;
    animation: fade-in 0.5s forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}




#certificado-container {
    
    margin-top: 20px;
      zoom: 0.2;
}

#certificado-canvas {
    
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    border: 1px solid #ddd;
    background-color: #fff;

    
}

#certificado-preview {
    
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 20px auto;
      
}


















/* Media Queries para responsividad */









/* Pantallas medianas (tabletas y pequeñas laptops) */

@media (max-width: 991px) {


    .card {

        margin-top: 160px;


    }


    #certificado-canvas {
        max-width: 90%;
        margin: 10px auto;
    }
}
















/* Pantallas medianas (tabletas y pequeñas laptops) */
@media (max-width: 991px) {
    
    .card {
        max-width: 90%;
        padding: 15px 20px;
           margin-top: 160px;
    }

    h1 {
        font-size: 1.8rem;
    }

    input[type="number"], button {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
    }
}
















/* Pantallas pequeñas (celulares) */
@media (max-width: 600px) {

    body {
        padding: 10px;
        height: 80vh;
    }

    .card {
        padding: 15px;
           margin-top: 160px;
       
    }

    h1 {
        font-size: 1.5rem;
    }

    input[type="number"], button {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
        padding: 8px 16px;
    }
}














/* Media queries para ajustar la vista en pantallas de 1360x768 */


 @keyframes moveUpDown {
        0% {
            top: 0px;
        }
        50% {
            top: 200px;
        }
        100% {
            top: 0px;
        }
    }

    @media screen and (max-width: 1360px) and (min-width: 1360px) and (max-height: 768px) and (min-height: 768px) {
        
        #certificado-canvas {
            max-width: 350px;
            position: absolute;
            top: 0px;
            border-radius: 5px;
            margin-left: 250px;
            border: 2px solid;
            border-image: linear-gradient(to right, #007bff, #ff0000, #00ff00, #ffff00, #40e0d0, #00008b) 1;
            animation: moveUpDown 4s ease-in-out infinite;
        }
    }














